@page
@model SignalRAssignment.Pages.Authen.LoginModel
@{
    ViewData["Title"] = "Login!";
}
<link href="~/css/Login.css" rel="stylesheet" type="text/css" asp-append-version="true"/>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="login-container">
        <h2 class="text-center">Welcome Back!</h2>

        <form method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingUsername" asp-for="@Model.Username" placeholder="Username" />
                <label for="floatingUsername">Username</label>
                <span class="text-danger" asp-validation-for="@Model.Username"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" asp-for="@Model.Password" placeholder="Password" />
                <label for="floatingPassword">Password</label>
                <span class="text-danger" asp-validation-for="@Model.Password"></span>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-lg w-100 mb-3">Login</button>

            <p class="text-center">Don't have an account?</p>

            <a asp-page="./Register" class="btn btn-outline-secondary btn-sm w-100">Register</a>
        </form>
    </div>
</div>
