@page
@model SignalRAssignment.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}
<h2 class="text-center">Access Denied</h2>
<p class="text-center text-danger">You dont have permission to access this page</p>